{% set page_dark = true %}
{% set custom_css = 'assets/css/custom-dark-photographer.css' %}
{% set header_text_color = 'text-white' %}
{% set nav_items_collapsed = true %}
{% set nav_sticky = true %}
{% set nav_dark = true %}
{% set footer = 3 %}
{% set footer_scroll_top_btn = 2 %}
{% set footer_bg_color = '#0b0b0b' %}
{% set footer_text_color = 'text-white' %}
{% set footer_titles_color = 'text-white' %}
{% set navigation = {
    'demo-dark-photographer.html': {
        'name': 'Home'
    },
    'demo-dark-photographer-about.html': {
        'name': 'About'
    },
    'demo-dark-photographer-blog.html': {
        'name': 'Blog'
    },
    'demo-dark-photographer-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}