{% set main_style_file = 'skylith-green' %}
{% set page_dark = true %}
{% set footer = 3 %}
{% set footer_scroll_top_btn = 2 %}
{% set footer_bg_color = '#0b0b0b' %}
{% set footer_text_color = 'text-gray-1' %}
{% set footer_titles_color = 'text-gray-1' %}
{% set nav_autohide = false %}
{% set nav_dark = true %}
{% set nav_items_collapsed = true %}
{% set navigation = false %}
{% set nav_mobile = false %}
{% set navigation = {
    'demo-dark-creative-portfolio.html': {
        'name': 'Home'
    },
    'demo-dark-creative-portfolio-about.html': {
        'name': 'About'
    },
    'demo-dark-creative-portfolio-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}