{% set page_dark = true %}
{% set header_text_color = 'text-white' %}
{% set custom_css = 'assets/css/custom-dark-photographer.css' %}
{% set footer = 3 %}
{% set footer_bg_color = '#101010' %}
{% set footer_text_color = 'text-gray-1' %}
{% set footer_titles_color = 'text-gray-1' %}
{% set footer_scroll_top_btn = 2 %}
{% set nav_full = 1 %}
{% set nav_dark = true %}
{% set navigation = false %}
{% set nav_mobile = false %}
{% set navigation_full = {
    'demo-dark-photographer-slider.html': {
        'name': 'Home'
    },
    'demo-dark-photographer-slider-works.html': {
        'name': 'Portfolio'
    },
    'demo-dark-photographer-slider-about.html': {
        'name': 'About'
    },
    'demo-dark-photographer-slider-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}