{% set header_text_color = 'text-white' %}
{% set footer = 3 %}
{% set footer_bg_color = '#101010' %}
{% set footer_text_color = 'text-gray-1' %}
{% set footer_titles_color = 'text-gray-1' %}
{% set footer_scroll_top_btn = 2 %}
{% set nav_full = 2 %}
{% set nav_full_dark = false %}
{% set nav_full_bg = false %}
{% set nav_full_drop_effect = 2 %}
{% set nav_items_effect = 1 %}
{% set navigation = false %}
{% set nav_mobile = false %}
{% set navigation_full = {
    'demo-creative-portfolio.html': {
        'name': 'Home'
    },
    'demo-creative-portfolio-portfolio.html': {
        'name': 'Portfolio',
        'sub': {
            'demo-creative-portfolio-portfolio.html': {
                'name': 'Portfolio'
            },
            'demo-creative-portfolio-work-single.html': {
                'name': 'Single'
            }
        }
    },
    'demo-creative-portfolio-blog.html': {
        'name': 'Blog',
        'sub': {
            'demo-creative-portfolio-blog.html': {
                'name': 'Blog'
            },
            'demo-creative-portfolio-blog-single.html': {
                'name': 'Single'
            }
        }
    },
    'demo-creative-portfolio-about.html': {
        'name': 'About'
    },
    'demo-creative-portfolio-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}