{% set header_text_color = 'text-white' %}
{% set footer = 1 %}
{% set navigation = {
    'demo-minimal-photography.html': {
        'name': 'Home'
    },
    'demo-minimal-photography-about-me.html': {
        'name': 'About Me'
    },
    'demo-minimal-photography-portfolio.html': {
        'name': 'Portfolio'
    },
    'demo-minimal-photography-blog.html': {
        'name': 'Blog'
    },
    'demo-minimal-photography-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}