{% set main_style_file = 'skylith-pink' %}
{% set custom_css = 'assets/css/custom-creative-agency.css' %}
{% set header_text_color = 'text-white' %}
{% set footer = 6 %}
{% set footer_bg = 'assets/images/demo-creative-freelancer-portfolio-footer.jpg' %}
{% set footer_bg_overlay = 'rgba(0, 0, 0, 0.8)' %}
{% set footer_bg_color = '#101010' %}
{% set footer_text_color = 'text-gray' %}
{% set footer_titles_color = 'text-gray-1' %}
{% set footer_scroll_top_btn = 2 %}
{% set nav_full = 2 %}
{% set nav_dark = true %}
{% set nav_full_bg = 'assets/images/demo-creative-agency-navbar-bg.png' %}
{% set nav_items_effect = 1 %}
{% set navigation = false %}
{% set nav_mobile = false %}
{% set page_scroll_up = true %}
{% set navigation_full = {
    'demo-creative-freelancer-portfolio.html': {
        'name': 'Home'
    },
    'demo-creative-freelancer-portfolio-works.html': {
        'name': 'Works'
    },
    'demo-creative-freelancer-portfolio-blog.html': {
        'name': 'Blog'
    },
    'demo-creative-freelancer-portfolio-about.html': {
        'name': 'About'
    },
    'demo-creative-freelancer-portfolio-contact.html': {
        'name': 'Contact'
    }
} %}

{% extends "layouts/layout-1.html" %}