{% set page_title = 'Minimal Agency - About' %}
{% extends 'layouts/layout-minimal-agency.html' %}

{% block content %}

    <div class="nk-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax">
                        <img src="assets/images/demo-minimal-agency-about.jpg" alt="" class="jarallax-img">
                    </div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                </div>
                <div class="col-lg-6">

                    <div class="nk-gap"></div>
                    <div class="nk-box-4 mw-600">
                        <h2 class=" fw-400">Hi! We are Skylith. Digital & Creative Agency.</h2>
                        <div class="nk-gap"></div>

                        <em class="h6 lh-30">An award-winning design and development team that is proud of our work.</em>
                        <div class="nk-gap mnt-5"></div>

                        <p>We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it.</p>

                        <img src="assets/images/about-me-signature.png" alt="" class="nk-img-fit">
                    </div>

                    <div class="nk-gap-2"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
