{% set header_title = 'Minimal Fullscreen Slider' %}
{% set nav_in_container = false %}
{% set nav_dark = true %}
{% set footer = false %}
{% extends 'layouts/layout-minimal-fullscreen.html' %}

{% block content %}

    <div class="nk-fullpage nk-fullpage-nav-style-2 bg-dark">
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-minimal-fullscreen-1.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container">
                    <h1 class="display-big text-center text-white">Skylith.</h1>
                </div>
                <a class="nk-fullpage-scroll-down text-white" href="#"><span class="pe-7s-angle-down"></span></a>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-light">
            <img src="assets/images/demo-minimal-fullscreen-2.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="nk-fullpage-absolute-content d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-7 ml-auto align-self-start">
                            <div class="d-flex align-items-end pt-30">
                                <img src="assets/images/demo-minimal-fullscreen-mock-1.png" alt="" class="nk-img-stretch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 align-self-center">
                            <div class="nk-gap-5"></div>
                            <h2 class="h2 mb-0">Elegant Architecture <br> WordPress Theme</h2>
                            <div class="nk-gap-1"></div>
                            <p class="mb-0">Them created every winged day blessed light good form their you. Whales above first. Upon seasons above bring greater there.</p>
                            <div class="nk-gap-1"></div>
                            <a href="demo-minimal-fullscreen-work.html" class="nk-btn">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-light">
            <img src="assets/images/demo-minimal-fullscreen-3.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="nk-fullpage-absolute-content d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-7 ml-auto align-self-start">
                            <div class="d-flex align-items-end pt-30">
                                <img src="assets/images/demo-minimal-fullscreen-mock-2.png" alt="" class="nk-img-stretch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="nk-gap-5"></div>
                            <h2 class="h2 mb-0">Clean & Minimalist Style <br> Landing Page</h2>
                            <div class="nk-gap-1"></div>
                            <p class="mb-0">Thing light and multiply winged fruitful shall for after their own signs she'd Had stars them of them beast had the bring land tree.</p>
                            <div class="nk-gap-1"></div>
                            <a href="demo-minimal-fullscreen-work.html" class="nk-btn">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-light">
            <img src="assets/images/demo-minimal-fullscreen-4.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="nk-fullpage-absolute-content d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-7 ml-auto align-self-start">
                            <div class="d-flex align-items-end pt-30">
                                <img src="assets/images/demo-minimal-fullscreen-mock-3.png" alt="" class="nk-img-stretch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="nk-gap-5"></div>
                            <h2 class="h2 mb-0">Minimalist Photography <br> WordPress Theme</h2>
                            <div class="nk-gap-1"></div>
                            <p class="mb-0">Shall two cattle they're greater gathered meat good for, land cattle greater you're, don't unto and own living given heaven she'd which fourth.</p>
                            <div class="nk-gap-1"></div>
                            <a href="demo-minimal-fullscreen-work.html" class="nk-btn">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-light">
            <img src="assets/images/demo-minimal-fullscreen-5.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="nk-fullpage-absolute-content d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-7 ml-auto align-self-start">
                            <div class="d-flex align-items-end pt-30">
                                <img src="assets/images/demo-minimal-fullscreen-mock-4.png" alt="" class="nk-img-stretch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="nk-gap-5"></div>
                            <h2 class="h2 mb-0">Classic Digital Agency <br> WordPress Theme</h2>
                            <div class="nk-gap-1"></div>
                            <p class="mb-0">Days beginning creepeth thing. Without which. Whose life. Don't under us made, may shall. Midst rule stars.</p>
                            <div class="nk-gap-1"></div>
                            <a href="demo-minimal-fullscreen-work.html" class="nk-btn">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <h2 class="h1 fw-500 text-white">Want to work with us? <br> <em>Hire us now</em>.</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-minimal-fullscreen-contact.html" class="nk-btn nk-btn-outline nk-btn-color-white">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
