{% set page_title = 'Minimal Carousel Portfolio' %}
{% set header_show = false %}
{% extends 'layouts/layout-minimal-carousel-portfolio.html' %}

{% block content %}

    <!-- START: Works Categories -->
    <div class="nk-carousel-2 nk-carousel-x2 nk-carousel-all-visible nk-carousel-no-margin nk-portfolio-list bg-dark" data-autoplay="0" data-loop="true" data-dots="false" data-arrows="false" data-cell-align="center" data-parallax="false">
        <div class="nk-carousel-inner">
            <div class="p-0">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="#" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-carousel-portfolio-1.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Beautiful Models</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-0">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="#" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-carousel-portfolio-2.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Landscape &amp; Nature</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-0">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="#" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-carousel-portfolio-3.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Arch &amp; Interiors</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-0">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="#" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-carousel-portfolio-4.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Wild Animals</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-0">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="#" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-carousel-portfolio-5.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Photo Inspiration</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Works Categories -->

{% endblock %}
