{% set page_title = 'Creative Freelancer Portfolio - About Me' %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% extends 'layouts/layout-creative-freelancer-portfolio.html' %}

{% block content %}

    <div class="nk-box bg-main text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax">
                        <img src="assets/images/demo-creative-freelancer-portfolio-about.jpg" alt="" class="jarallax-img">
                    </div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                </div>
                <div class="col-lg-6">

                    <div class="nk-gap-4"></div>
                    <div class="nk-box-4 mw-600">
                        <h2 class="text-white">Hi! I’m Richard Henderson. Creative <em>Graphic Designer</em>.</h2>
                        <div class="nk-gap"></div>

                        <p>I'm a professional Graphic Designer from San Francisco. Over 20 years of combined experience, and know a thing or two about photography and composition. Clever use of technology and lean processes enable us to work faster and smarter.
                        </p>
                        <p>
                            I use an agile approach to test assumptions and connect with the needs of your audience early and often.
                        </p>

                        <img src="assets/images/about-me-signature-light.png" alt="" class="nk-img-fit">
                    </div>

                    <div class="nk-gap-3"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
