{% set page_title = 'Dark Split Portfolio - Services' %}
{% extends 'layouts/layout-dark-split-portfolio.html' %}

{% block content %}

    <!-- START: Header Title -->
    <div class="nk-gap-3"></div>
    <h1 class="text-center">We provide the best services <br> <em>in the industry</em></h1>
    <div class="nk-gap-4"></div>
    <!-- END: Header Title -->


    <!-- START: Features -->
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-diamond"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Web & UI/UX Design</div>
                        <div class="nk-ibox-text">Web design encompasses many different skills and disciplines in the production of all web.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-arc"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Web Development</div>
                        <div class="nk-ibox-text">Web development is a broad term for the work involved in developing a web site for the Internet.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-portfolio"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">SEO & Marketing</div>
                        <div class="nk-ibox-text">A process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-magic-wand"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Mobile Design</div>
                        <div class="nk-ibox-text">As part of the development process, mobile UI design is also essential in the creation of mobile apps.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-phone"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Mobile Development</div>
                        <div class="nk-ibox-text">Mobile development - term used to denote the act or process by which application software.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-paint-bucket"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Graphic Design</div>
                        <div class="nk-ibox-text">Graphic design is the process of visual communication and problem-solving through the use of illustration. </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-target"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Product Strategy</div>
                        <div class="nk-ibox-text">While the product strategy outlines the elements of the product and the company's target market.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="nk-ibox-4 nk-ibox-4-dark">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-camera"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Photography</div>
                        <div class="nk-ibox-text">Photography is the science, art, application and practice of creating durable images by recording light.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Reviews -->
    <div class="nk-box bg-dark-1">
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/demo-minimal-creative-agency-bg-1.jpg" alt="" class="jarallax-img">
            <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
        </div>
        <div class="nk-gap-5 mnt-6"></div>
        <div class="nk-gap-3"></div>
        <div class="container-fluid">
            <!-- START: Carousel -->
            <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-loop="true" data-dots="true" data-arrows="false" data-cell-align="center" data-parallax="false">
                <div class="nk-carousel-inner">
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-3 mt-10"></div>
                        </div></div>
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-3 mt-10"></div>
                        </div></div>
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-3 mt-10"></div>
                        </div></div>
                </div>
            </div>
            <!-- END: Carousel -->
        </div>
        <div class="nk-gap-4 mt-3"></div>
    </div>
    <!-- END: Reviews -->

    <!-- START: Mail -->
    <div class="bg-dark-05">
        <div class="container text-center">
            <div class="nk-gap-6"></div>
            <a class="nk-btn-3" href="mailto:hello@skylith.com">hello@skylith.com</a>
            <div class="nk-gap mb-5"></div>
            <p>Currently accepting enquiries for small <br> and medium sized projects.</p>
            <div class="nk-gap-5"></div>
        </div>
    </div>
    <!-- END: Mail -->

{% endblock %}
