{% set page_title = 'Dark Photographer - About' %}
{% extends 'layouts/layout-dark-photographer.html' %}

{% block content %}

    <div class="nk-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-image bg-image-parallax">
                        <img src="assets/images/demo-minimal-photography-about-me.jpg" alt="" class="jarallax-img">
                    </div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                    <div class="nk-gap-6"></div>
                </div>
                <div class="col-lg-6">

                    <div class="nk-gap"></div>
                    <div class="nk-box-4 mw-600">
                        <h2 class=" fw-400">Hi! I’m Richard Henderson. Creative Photographer.</h2>
                        <div class="nk-gap"></div>

                        <p>I'm a professional Photographer from San Francisco. Over 20 years of combined experience, and know a thing or two about photography and composition. Clever use of technology and lean processes enable us to work faster and smarter.
                        </p>
                        <p>
                            I use an agile approach to test assumptions and connect with the needs of your audience early and often.
                        </p>

                        <img src="assets/images/about-me-signature-light.png" alt="" class="nk-img-fit">
                    </div>

                    <div class="nk-gap-2"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
