{% set page_title = 'Creative Text - About' %}
{% extends 'layouts/layout-creative-text.html' %}

{% block content %}

    <!-- START: Header Title -->
    <div class="bg-white">
        <div class="nk-gap-3"></div>
        <h1 class="text-center">We create digital branding <br> <em>experience</em></h1>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Header Title -->

    <img src="assets/images/header-about-us.jpg" alt="" class="nk-img-stretch">

    <!-- START: Who We Are -->
    <div class="bg-white">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <div class="text-gray nk-heading-font">Who we are</div>
                </div>
                <div class="col-lg-7">
                    <h2 class="h4 lh-35">We are a new Branding Agency. Over 20 years of combined <span class="text-main">experience</span>, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                    </h2>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Who We Are -->

    <!-- START: In Short -->
    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="text-gray nk-heading-font">In Short</div>
            </div>
            <div class="col-lg-7">
                <h2 class="h4">Our History</h2>
                <p>An award-winning design and development team that is proud of our work and love the web. We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>

                <div class="nk-gap"></div>
                <h2 class="h4">Our Mission</h2>
                <p>Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it. Clever use of technology and lean processes enable us to work faster and smarter.</p>

                <div class="nk-gap"></div>
                <h2 class="h4">Our Principles</h2>
                <p>As an independent insurance agency, we can always give our clients options. We are not tied to any one carrier or company, we do not serve the interests of any corporate entity.</p>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: In Short -->

    <!-- START: Our Team -->
    <div class="bg-white">
        <div class="container">
            <div class="nk-gap-5"></div>

            <!-- START: Carousel -->
            <div class="nk-carousel-2 nk-carousel-x2 nk-carousel-all-visible nk-portfolio-list" data-autoplay="0" data-loop="true" data-dots="true" data-arrows="false" data-cell-align="center" data-parallax="false">
                <div class="nk-carousel-inner">
                    <div>
                        <div class="nk-portfolio-item nk-portfolio-item-info-style-6">
                            <a href="#" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image-wrap">
                                <img class="nk-portfolio-item-image" src="assets/images/demo-minimal-architecture-member-1.jpg" alt="">
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                                <div>
                                    <h2 class="nk-portfolio-item-title mb-5 h5">Richard Cennedy</h2>
                                    <div>Creative Director</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-6">
                            <a href="#" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image-wrap">
                                <img class="nk-portfolio-item-image" src="assets/images/demo-minimal-architecture-member-2.jpg" alt="">
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                                <div>
                                    <h2 class="nk-portfolio-item-title mb-5 h5">Donna Flowers</h2>
                                    <div>Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-6">
                            <a href="#" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image-wrap">
                                <img class="nk-portfolio-item-image" src="assets/images/demo-minimal-architecture-member-3.jpg" alt="">
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                                <div>
                                    <h2 class="nk-portfolio-item-title mb-5 h5">Edwin Charles</h2>
                                    <div>Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-6">
                            <a href="#" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image-wrap">
                                <img class="nk-portfolio-item-image" src="assets/images/demo-minimal-architecture-member-4.jpg" alt="">
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                                <div>
                                    <h2 class="nk-portfolio-item-title mb-5 h5">Richard Cennedy</h2>
                                    <div>Creative Director</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Carousel -->

            <div class="nk-gap-6"></div>
        </div>
    </div>
    <!-- END: Our Team -->

{% endblock %}
