{% set page_title = 'Minimal Architecture & Interior' %}
{% set header_show = false %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% extends 'layouts/layout-minimal-architecture.html' %}

{% block content %}

    <!-- START: Slider -->
    <div class="nk-slider bg-dark" data-show-nav="true" data-show-bullets="false" data-show-arrows="false" data-autoplay="10000" data-content-centering="center" data-height="670">
        <div class="nk-slider-item">
            <img src="assets/images/demo-minimal-architecture-header-1.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="nk-gap-3"></div>
                <div class="nk-subtitle-2 text-white mb-10">Architecture / Interior</div>
                <h2 class="text-white text-uppercase display-3">We are building<br>Experts</h2>
                <div class="nk-gap"></div>
                <a href="demo-minimal-architecture-portfolio.html" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
            </div>
        </div>
        <div class="nk-slider-item">
            <img src="assets/images/demo-minimal-architecture-header-2.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="nk-gap-3"></div>
                <div class="nk-subtitle-2 text-white mb-10">Architecture / Interior</div>
                <h2 class="text-white text-uppercase display-3">We are building<br>Experts</h2>
                <div class="nk-gap"></div>
                <a href="demo-minimal-architecture-portfolio.html" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
            </div>
        </div>
        <div class="nk-slider-item">
            <img src="assets/images/demo-minimal-architecture-header-3.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="nk-gap-3"></div>
                <div class="nk-subtitle-2 text-white mb-10">Architecture / Interior</div>
                <h2 class="text-white text-uppercase display-3">We are building<br>Experts</h2>
                <div class="nk-gap"></div>
                <a href="demo-minimal-architecture-portfolio.html" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>
            </div>
        </div>
    </div>
    <!-- END: Slider -->

    <!-- START: Who We Are -->
    <div class="container">
        <div class="nk-gap-5"></div>
        <div class="row">
            <div class="col-md-3">
                <img class="nk-img-stretch" src="assets/images/demo-minimal-architecture-img-1.jpg" alt="">
            </div>
            <div class="col-md-3">
                <div class="nk-gap-5"></div>
                <img class="nk-img-stretch" src="assets/images/demo-minimal-architecture-img-2.jpg" alt="">
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="nk-gap-5"></div>
                <div class="nk-subtitle-3">Who We Are</div>
                <h2 class="h2 text-uppercase">Architecture <br> Studio</h2>

                <div class="nk-gap"></div>
                <p class="text-black">
                    <strong>An award-winning design and development team that is proud of our work.</strong>
                </p>
                <p>
                    We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it.
                </p>

                <div class="nk-gap"></div>
                <a href="#" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-2 text-dark">Read More</a>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Who We Are -->

    <!-- START: What We Do -->
    <div class="bg-dark">
        <div class="container">
            <div class="nk-gap-5"></div>
            <div class="ml-60">
                <div class="nk-subtitle-3 text-white">What We Do</div>
                <h2 class="h2 text-uppercase text-white">Provide The Best <br> Services</h2>
                <div class="nk-gap-4 mnt-15"></div>
            </div>

            <div class="row vertical-gap">
                <div class="col-lg-3 col-6">
                    <div class="nk-ibox-4 nk-ibox-4-dark">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-diamond"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Architecture</div>
                            <div class="nk-ibox-text">Architecture has to do with planning and designing form, space and ambience to reflect functional.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="nk-ibox-4 nk-ibox-4-dark">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-paint-bucket"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Interior Design</div>
                            <div class="nk-ibox-text">Is the process of shaping the experience of interior space, through the manipulation of spatial volume.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="nk-ibox-4 nk-ibox-4-dark">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-anchor"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Furniture Design</div>
                            <div class="nk-ibox-text">Furniture refers to movable objects intended to support various human activities such as seating or lying.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="nk-ibox-4 nk-ibox-4-dark">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-headphones"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Consulting</div>
                            <div class="nk-ibox-text">Consultant: someone who is
                                employed externally to the client, either by a consulting firm or agency.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
        </div>
    </div>
    <!-- END: What We Do -->

    <!-- START: Works Categories -->
    <div class="container-fluid">
        <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">
            <div class="nk-isotope-item">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="demo-minimal-architecture-portfolio-single.html" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-architecture-category-1.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Arch Building<br>Projects</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="demo-minimal-architecture-portfolio-single.html" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-architecture-category-2.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Furniture Design<br>Projects</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-portfolio-item nk-portfolio-item-info-style-3 hover">
                    <a href="demo-minimal-architecture-portfolio-single.html" class="nk-portfolio-item-link"></a>
                    <img src="assets/images/demo-minimal-architecture-category-3.jpg" alt="" class="nk-portfolio-item-image">
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                        <div>
                            <h2 class="nk-portfolio-item-title text-uppercase h4">Our Interiors<br>Projects</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Works Categories -->

    <!-- START: Blog -->
    <div class="bg-white">
        <div class="container">
            <div class="nk-gap-5"></div>

            <div class="ml-60">
                <div class="nk-subtitle-3">Blog</div>
                <h2 class="h2 text-uppercase">Some of Our Latest <br> News</h2>
            </div>

            <div class="nk-gap-2"></div>

            <div class="nk-blog-isotope nk-isotope nk-blog-isotope-no-shadow nk-isotope-gap nk-isotope-3-cols">
                <div class="nk-isotope-item" data-filter="Nature">
                    <div class="nk-blog-post">
                        <div class="nk-post-thumb">
                            <a href="demo-minimal-architecture-blog-single.html">
                                <img src="assets/images/demo-minimal-architecture-post-1.jpg" alt="" class="nk-img-stretch">
                            </a>
                            <div class="nk-post-category"><a href="#">Nature</a></div>
                        </div>
                        <h2 class="nk-post-title h6 text-uppercase"><a href="demo-minimal-architecture-blog-single.html">Something I Need to Tell You</a></h2>

                        <div class="nk-post-date">
                            May 16, 2017
                        </div>

                        <div class="nk-post-text">
                            <p>Shanker Travels is a prominent name, if you are looking for an experienced and dependable travel agent.</p>
                        </div>
                    </div>
                </div>
                <div class="nk-isotope-item" data-filter="Branding">
                    <div class="nk-blog-post">
                        <div class="nk-post-thumb">
                            <a href="demo-minimal-architecture-blog-single.html">
                                <img src="assets/images/demo-minimal-architecture-post-2.jpg" alt="" class="nk-img-stretch">
                            </a>
                            <div class="nk-post-category"><a href="#">Branding</a></div>
                        </div>
                        <h2 class="nk-post-title h6 text-uppercase"><a href="demo-minimal-architecture-blog-single.html">Are You Doing the Right Way?</a></h2>

                        <div class="nk-post-date">
                            May 28, 2017
                        </div>

                        <div class="nk-post-text">
                            <p>The Blackbuck National Park, Velavadar is a decent place to watch prairie birds like larks, bushchats, wheatears.</p>
                        </div>
                    </div>
                </div>
                <div class="nk-isotope-item" data-filter="Design">
                    <div class="nk-blog-post">
                        <div class="nk-post-thumb">
                            <a href="demo-minimal-architecture-blog-single.html">
                                <img src="assets/images/demo-minimal-architecture-post-3.jpg" alt="" class="nk-img-stretch">
                            </a>
                            <div class="nk-post-category"><a href="#">Design</a></div>
                        </div>
                        <h2 class="nk-post-title h6 text-uppercase"><a href="demo-minimal-architecture-blog-single.html">Why You Should Always First</a></h2>

                        <div class="nk-post-date">
                            June 1, 2017
                        </div>

                        <div class="nk-post-text">
                            <p>Singapore is the Smallest well known country in the South East Asia which has many tourist attraction.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-2"></div>
            <div class="text-center">
                <a href="demo-minimal-architecture-blog.html" class="nk-btn nk-btn-md nk-btn-outline nk-btn-color-gray-7 nk-btn-hover-color-dark-2 text-dark">View More</a>
            </div>
            <div class="nk-gap-5"></div>
        </div>
    </div>
    <!-- END: Blog -->

    <!-- START: Let's Work Together -->
    <div class="nk-box bg-dark-1 text-center">
        <div class="nk-gap-5"></div>
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/demo-minimal-architecture-contact-bg.jpg" alt="" class="jarallax-img">
            <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 class="text-uppercase text-white">Let`s work together</h2>
                    <div class="nk-gap-1 mnt-20"></div>
                    <p class="text-white">Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                    <div class="nk-gap mnt-9"></div>
                    <a href="#" class="nk-btn nk-btn-outline nk-btn-color-gray nk-btn-hover-color-white text-white">Contact Me</a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Let's Work Together -->

{% endblock %}
