{% set page_title = 'Minimal Split - Work 3' %}
{% set header_title = page_title %}
{% set header_show = true %}
{% set header_title_show = false %}
{% set header_size = 'full' %}
{% set header_image = 'assets/images/demo-minimal-split-single-3.jpg' %}
{% set footer = false %}

{% extends 'layouts/layout-minimal-split.html' %}

{% block content %}

    <div class="nk-portfolio-content">
        <div class="bg-white">
            <div class="nk-gap-5 mnt-10"></div>
            <div class="container">
                <div class="row">
                    <div class="col offset-md-1">
                        <h2 class="display-4">Alice Main</h2>
                        <div class="nk-gap mnt-5"></div>
                    </div>
                </div>
                <div class="row vertical-gap">
                    <div class="col-md-4 offset-md-1">
                        <div class="lead lead-sm">Succesfull Fashion, Fitness, Promotional, Body Art and Commercial Model from Los Angeles.</div>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <p>A model is a person with a role either to promote, display, or advertise commercial products or to serve as a visual aide for people who are creating works of art or to pose for photography.</p>
                        <p>Modelling is considered to be different from other types of public performance, such as acting or dancing. Types of modelling include: fashion, glamour, fitness, fine art, body-part, promotional and commercial print models.</p>
                    </div>
                </div>
            </div>
            <div class="nk-gap-6"></div>
        </div>

        <img src="assets/images/demo-minimal-split-single-3-2.jpg" alt="" class="nk-img-stretch">

        <div class="nk-box bg-white">
            <div class="container">
                <div class="nk-gap-5 mnb-5"></div>
                <div class="nk-gap-1"></div>
                <div class="nk-gap"></div>
                <blockquote class="nk-blockquote-style-1">
                    <p>Outstanding job and exceeded all expectations. It was a pleasure
                        to work with them on a sizable first project and am looking
                        forward to start the next one asap.</p>
                    <cite>Michael Hopkins</cite>
                </blockquote>
                <div class="nk-gap"></div>
                <div class="nk-gap-1"></div>
                <div class="nk-gap-5 mnb-5"></div>
            </div>
        </div>

        <img src="assets/images/demo-minimal-split-single-3-3.jpg" alt="" class="nk-img-stretch">
    </div>

    <div class="nk-portfolio-launch-site bg-white">
        <div class="nk-post-share mt-0">
            <em>
                <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                <!--
                <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                -->
            </em>
        </div>
    </div>

    <!-- START: Pagination -->
    <div class="nk-pagination nk-pagination-center bg-gray-3">
        <div class="container">
            <a class="nk-pagination-prev" href="demo-minimal-split-single-2.html"><span class="pe-7s-angle-left"></span> Previous Work</a>
            <a class="nk-pagination-center" href="demo-minimal-split.html"><span class="nk-icon-squares"></span></a>
            <a class="nk-pagination-next" href="demo-minimal-split-single-4.html">Next Work <span class="pe-7s-angle-right"></span> </a>
        </div>
    </div>
    <!-- END: Pagination -->
{% endblock %}
