{% set page_title = 'Creative Text - Blog' %}
{% extends 'layouts/layout-creative-text.html' %}

{% block content %}

    <div class="bg-white">
        <div class="container">
            <!-- START: Posts List -->
            <div class="nk-blog-isotope-4 nk-isotope nk-isotope-3-cols">

                {% for post in posts %}
                    <!-- START: Post -->
                    <div class="nk-isotope-item">
                        <div class="nk-blog-post">
                            <div class="nk-post-thumb">
                                <div class="bg-image">
                                    <img src="{{ post.thumb_lg }}" alt="">
                                    <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.5);"></div>
                                </div>
                            </div>

                            <div class="nk-post-content">
                                <div class="nk-post-date">{{ post.date }} / {{ post.cat_text }}</div>

                                <h2 class="nk-post-title fw-400"><a href="demo-creative-text-blog-single.html">{{ post.title }}</a></h2>

                                <a class="nk-post-more" href="demo-creative-text-blog-single.html">Read More <span class="pe-7s-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->
                {% endfor %}

            </div>
            <!-- END: Posts List -->
        </div>
        <div class="nk-gap-5"></div>
    </div>

{% endblock %}
