{% set page_title = 'Minimal Classic Agency - Portfolio' %}
{% set header_show = false %}
{% extends 'layouts/layout-minimal-classic-agency.html' %}

{% block content %}

    <!-- START: Portfolio -->
    <div class="nk-portfolio-list nk-isotope nk-isotope-2-cols nk-isotope-gap-no">
        <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-1.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-1.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">New Magazine</h2>
                        <div class="nk-portfolio-item-category">Branding</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Marketing">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-2.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-5.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">Promotional</h2>
                        <div class="nk-portfolio-item-category">Marketing</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-3.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-2.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">Smart Watch Design</h2>
                        <div class="nk-portfolio-item-category">Branding</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Development">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-1.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-6.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">Photography Website</h2>
                        <div class="nk-portfolio-item-category">Development</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Development">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-2.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-7.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">Personal Blog</h2>
                        <div class="nk-portfolio-item-category">Design</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Development">
            <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
                <a href="demo-minimal-classic-agency-work-3.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-3.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                    <div>
                        <h2 class="nk-portfolio-item-title h3">Creative Mobile App</h2>
                        <div class="nk-portfolio-item-category">Mobile</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-pagination nk-pagination-center bg-gray-5">
        <a href="#">View More Works</a>
    </div>
    <!-- END: Portfolio -->

{% endblock %}
