{% set header_title = 'Dark Fullscreen' %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_transparent_always = true %}
{% set nav_in_container = false %}
{% set footer = false %}
{% extends 'layouts/layout-dark-fullscreen.html' %}

{% block content %}

    <div class="nk-fullpage nk-fullpage-nav-style-2 bg-dark">
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <div class="nk-fullpage-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h1 class="display-4 text-center text-white">We are a <em>new design studio</em> based in USA. We have over 20 years of combined <em>experience</em>, and know a thing or two about designing <em>websites and mobile apps</em>.</h1>
                        </div>
                    </div>
                </div>
                <a class="nk-fullpage-scroll-down text-white" href="#"><span class="pe-7s-angle-down"></span></a>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-dark-fullscreen-1.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <div class="nk-subtitle-2 text-white mb-5">Branding</div>
                    <h2 class="h1 text-white">Creative Website for New Magazine</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-work-1.html" class="nk-btn nk-btn-outline nk-btn-color-white">View Project</a>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-dark-fullscreen-2.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <div class="nk-subtitle-2 text-white mb-5">Marketing / Video</div>
                    <h2 class="h1 text-white">Promotional Video for Sport Brand</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-work-2.html" class="nk-btn nk-btn-outline nk-btn-color-white">View Project</a>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-dark-fullscreen-3.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <div class="nk-subtitle-2 text-white mb-5">Development</div>
                    <h2 class="h1 text-white">Minimal Photography Website</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-work-1.html" class="nk-btn nk-btn-outline nk-btn-color-white">View Project</a>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-dark-fullscreen-4.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <div class="nk-subtitle-2 text-white mb-5">Branding</div>
                    <h2 class="h1 text-white">Functional Design for Smart Watch</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-work-2.html" class="nk-btn nk-btn-outline nk-btn-color-white">View Project</a>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <img src="assets/images/demo-dark-fullscreen-5.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <div class="nk-subtitle-2 text-white mb-5">APP / Mobile</div>
                    <h2 class="h1 text-white">Creative IOS / Android App</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-work-1.html" class="nk-btn nk-btn-outline nk-btn-color-white">View Project</a>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item nk-fullpage-item-bg-dark">
            <div class="nk-fullpage-content">
                <div class="container text-center">
                    <h2 class="h1 fw-500 text-white">Want to work with us? <br> <em>Hire us now</em>.</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-fullscreen-contact.html" class="nk-btn nk-btn-outline nk-btn-color-white">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
