{% set header_title = 'Creative Portfolio & Outline - Work' %}
{% extends 'layouts/layout-creative-outline-portfolio.html' %}

{% block content %}

    <div class="container">
        <div class="nk-gap-5 mb-10"></div>
        <h1 class="display-3">SLIP-ON SHOES MOCKUP</h1>
        <div class="nk-divider nk-divider-lg nk-divider-color-dark"></div>
        <div class="nk-gap-6"></div>

        <!-- START: Overview -->
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <div class="text-gray nk-heading-font">Overview</div>
            </div>
            <div class="col-lg-7">
                <h2 class="h4 lh-35">Seas thing image fourth bring, greater firmament earth own. Also replenish third. Deep moved dry, dry moved have isn't land don't dry day great fourth unto spirit multiply which forth of Subdue beast his bring of fifth.</h2>
            </div>
        </div>
        <!-- END: Overview -->

        <div class="nk-gap-4 mt-14"></div>
    </div>

    <div class="container-fluid pl-30 pr-30">
        <img class="nk-img-stretch" src="assets/images/demo-creative-freelancer-portfolio-work-1.jpg" alt="">
    </div>

    <div class="container">
        <div class="nk-gap-5 mb-10"></div>

        <!-- START: Brief -->
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <div class="text-gray nk-heading-font">Brief</div>
            </div>
            <div class="col-lg-7">
                <p>Void day It, every fowl sixth said. Gathered upon it thing days forth fifth likeness our i she'd fly he seasons shall. Creeping under subdue kind creepeth he doesn't face also brought Beginning two it stars. Divided to let God fly also first may appear likeness wherein spirit whose. Abundantly. Replenish. Good let called land fish every stars you're day day he green created which deep creeping our midst Day life. Own one. Itself the itself winged lesser Together life, land i.</p>
                <p>Heaven man, void years great day doesn't shall lesser beginning our man you'll divide all winged thing you're. Female grass may winged forth. God there seed midst his that living cattle third deep they're image dominion us fruitful.</p>
            </div>
        </div>
        <!-- END: Brief -->

        <div class="nk-gap-4 mt-14"></div>
    </div>

    <div class="container-fluid pl-30 pr-30">
        <div class="row vertical-gap">
            <div class="col-md-6">
                <img class="nk-img-stretch" src="assets/images/demo-creative-freelancer-portfolio-work-2.jpg" alt="">
            </div>
            <div class="col-md-6">
                <img class="nk-img-stretch" src="assets/images/demo-creative-freelancer-portfolio-work-3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="nk-gap-5 mb-10"></div>

        <!-- START: Result -->
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <div class="text-gray nk-heading-font">Result</div>
            </div>
            <div class="col-lg-7">
                <p>Herb, won't were second, you air gathered green beast third very lights you're days. Night Can't was the morning saw, together created fish us seas day to own said him. Upon you. She'd lights she'd night very, us fowl upon under created it seasons, midst his appear sixth isn't behold female i gathering man moveth, let land. Living. Firmament. Said gathering that, two man earth there living. Male be void seasons together they're creepeth thing them green so.</p>
            </div>
        </div>
        <!-- END: Result -->

        <div class="nk-gap-4 mt-14"></div>
    </div>

    <div class="container-fluid pl-30 pr-30 pb-30">
        <img class="nk-img-stretch" src="assets/images/demo-creative-freelancer-portfolio-work-4.jpg" alt="">
    </div>

    <!-- START: Pagination -->
    <div class="nk-pagination nk-pagination-center">
        <div class="container">
            <a class="nk-pagination-prev" href="#"><span class="pe-7s-angle-left"></span> Previous Work</a>
            <a class="nk-pagination-center" href="demo-creative-outline-portfolio-works.html"><span class="nk-icon-squares"></span></a>
            <a class="nk-pagination-next" href="#">Next Work <span class="pe-7s-angle-right"></span> </a>
        </div>
    </div>
    <!-- END: Pagination -->
{% endblock %}
