{% set page_title = 'Minimal Classic Agency' %}
{% set header_show = true %}
{% set header_title = 'We create products that make <br> <em class="fw-400">people happy</em>' %}
{% set header_subtitle = 'New Branding Agency' %}
{% set header_bg_video = 'https://vimeo.com/222473595' %}
{% set header_bg_video_overlay = 'rgba(0, 0, 0, 0.6)' %}
{% set header_text = '<a href="demo-minimal-classic-agency-portfolio.html" class="nk-btn nk-btn-outline nk-btn-color-white">Our Projects</a>' %}
{% extends 'layouts/layout-minimal-classic-agency.html' %}

{% block content %}

<!-- START: New Branding Agency -->
<div class="bg-white">
    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row vertical-gap">
            <div class="col-lg-4 offset-lg-2 col-md-6">
                <div class="nk-subtitle-3">Who We Are</div>
                <h2 class="display-4">New Branding Agency</h2>
            </div>
            <div class="col-lg-4 col-md-6">

                <em class="h6 lh-30">An award-winning design and development team that is proud of our work.</em>
                <div class="nk-gap mnt-5"></div>

                <p>
                    We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it.
                </p>

                <p>
                    Clever use of technology and lean processes enable us to work faster and smarter.
                </p>
            </div>
        </div>
        <div class="nk-gap-4 mnt-10"></div>
    </div>
</div>
<!-- END: New Branding Agency -->

<!-- START: Portfolio -->
<div class="nk-portfolio-list nk-isotope nk-isotope-2-cols nk-isotope-gap-no">
    <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
            <a href="demo-minimal-classic-agency-work-1.html" class="nk-portfolio-item-link"></a>
            <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-1.jpg');"></div></div>
            <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                <div>
                    <h2 class="nk-portfolio-item-title h3">New Magazine</h2>
                    <div class="nk-portfolio-item-category">Branding</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-isotope-item" data-filter="Marketing">
        <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
            <a href="demo-minimal-classic-agency-work-2.html" class="nk-portfolio-item-link"></a>
            <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-5.jpg');"></div></div>
            <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                <div>
                    <h2 class="nk-portfolio-item-title h3">Promotional</h2>
                    <div class="nk-portfolio-item-category">Marketing</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
            <a href="demo-minimal-classic-agency-work-3.html" class="nk-portfolio-item-link"></a>
            <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-2.jpg');"></div></div>
            <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                <div>
                    <h2 class="nk-portfolio-item-title h3">Smart Watch Design</h2>
                    <div class="nk-portfolio-item-category">Branding</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-isotope-item" data-filter="Development">
        <div class="nk-portfolio-item nk-portfolio-item-sm nk-portfolio-item-info-style-1 hover">
            <a href="demo-minimal-classic-agency-work-1.html" class="nk-portfolio-item-link"></a>
            <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-6.jpg');"></div></div>
            <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom">
                <div>
                    <h2 class="nk-portfolio-item-title h3">Photography Website</h2>
                    <div class="nk-portfolio-item-category">Development</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nk-pagination nk-pagination-center bg-gray-5">
    <a href="demo-minimal-classic-agency-portfolio.html">View More Works</a>
</div>
<!-- END: Portfolio -->

<!-- START: What We Do -->
<div class="bg-white">
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-8 offset-lg-2">
                <div class="nk-gap-5"></div>
                <div class="nk-subtitle-3">What We Do</div>
                <h2 class="display-4">Provide The Best <br> Services</h2>
                <div class="nk-gap-4 mnt-15"></div>

                <div class="row vertical-gap mnl-70 mnr-70">
                    <div class="col-lg-4 offset-lg-0 col-8 offset-2">
                        <div class="nk-ibox-4">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-diamond"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">Web & UI/UX Design</div>
                                <div class="nk-ibox-text">Web design encompasses many different skills and disciplines in the production of all web.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-0 col-8 offset-2">
                        <div class="nk-ibox-4">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-arc"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">Web Development</div>
                                <div class="nk-ibox-text">Web development is a broad term for the work involved in developing a web site for the Internet.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-0 col-8 offset-2">
                        <div class="nk-ibox-4">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-portfolio"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">SEO & Marketing</div>
                                <div class="nk-ibox-text">A process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-gap-5"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: What We Do -->

<!-- START: Reviews -->
<div class="nk-box bg-dark-1">
    <div class="bg-image bg-image-parallax">
        <img src="assets/images/demo-minimal-creative-agency-bg-1.jpg" alt="" class="jarallax-img">
        <div class="bg-image-overlay" style="background-color: rgba(0, 0, 0, 0.6);"></div>
    </div>
    <div class="nk-gap-5 mnt-6"></div>
    <div class="nk-gap-3"></div>
    <div class="container-fluid">
        <!-- START: Carousel -->
        <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-loop="true" data-dots="true" data-arrows="false" data-cell-align="center" data-parallax="false">
            <div class="nk-carousel-inner">
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
            </div>
        </div>
        <!-- END: Carousel -->
    </div>
    <div class="nk-gap-4 mt-3"></div>
</div>
<!-- END: Reviews -->

<!-- START: Get In Touch -->
<div class="bg-white">
    <div class="container">
        <div class="nk-gap-5"></div>
        <div class="row vertical-gap">
            <div class="col-lg-4 offset-lg-2">
                <div class="nk-subtitle-3">Get In Touch</div>
                <h2 class="display-4">Need help with <br> a project?</h2>
            </div>
            <div class="col-lg-4">
                <p>
                    Let us know what you're looking for in an agency.
                    We'll take a look and see if this could be the
                    start of something beautiful. Please get in touch
                    and let’s schedule time to talk!
                </p>

                <a href="demo-minimal-classic-agency-contact-us.html" class="nk-btn nk-btn-color-dark-1">Get In Touch</a>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
</div>
<!-- END: Get In Touch -->

{% endblock %}
