{% set page_title = 'Minimal Split' %}
{% set footer = false %}
{% extends 'layouts/layout-minimal-split.html' %}

{% block content %}

    <div class="nk-fullpage nk-fullpage-split nk-fullpage-nav-style-2 bg-white">
        <div class="nk-fullpage-item" data-letter="B" data-number="01">
            <img src="assets/images/demo-minimal-split-single-1.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-view-button">
                <div class="container">
                    <a class="nk-btn-2" href="demo-minimal-split-single-1.html">View project</a>
                </div>
            </div>
            <div class="nk-fullpage-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="nk-fullpage-item-category">
                                <a href="#">Photo</a> / <a href="#">Inspiration</a>
                            </div>
                            <h2 class="nk-fullpage-title display-4"><a href="demo-minimal-split-single-1.html">Dream Journey</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item" data-letter="Y" data-number="02">
            <img src="assets/images/demo-minimal-split-single-2.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-view-button">
                <div class="container">
                    <a class="nk-btn-2" href="demo-minimal-split-single-2.html">View project</a>
                </div>
            </div>
            <div class="nk-fullpage-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="nk-fullpage-item-category">
                                <a href="#">Branding</a> / <a href="#">Design</a>
                            </div>
                            <h2 class="nk-fullpage-title display-4"><a href="demo-minimal-split-single-2.html">Belong Magazine</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item" data-letter="S" data-number="03">
            <img src="assets/images/demo-minimal-split-single-3.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-view-button">
                <div class="container">
                    <a class="nk-btn-2" href="demo-minimal-split-single-3.html">View project</a>
                </div>
            </div>
            <div class="nk-fullpage-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="nk-fullpage-item-category">
                                <a href="#">Photo</a> / <a href="#">Personal</a>
                            </div>
                            <h2 class="nk-fullpage-title display-4"><a href="demo-minimal-split-single-3.html">Alice Main</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-fullpage-item" data-letter="P" data-number="04">
            <img src="assets/images/demo-minimal-split-single-4.jpg" alt="" class="nk-fullpage-image">
            <div class="nk-fullpage-view-button">
                <div class="container">
                    <a class="nk-btn-2" href="demo-minimal-split-single-4.html">View project</a>
                </div>
            </div>
            <div class="nk-fullpage-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="nk-fullpage-item-category">
                                <a href="#">Architecture</a> / <a href="#">Photo</a>
                            </div>
                            <h2 class="nk-fullpage-title display-4"><a href="demo-minimal-split-single-4.html">Steadfastness</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
