{% set page_title = 'Minimal Fullscreen Slider - Work' %}
{% set nav_white_text_on_top = true %}
{% set header_title = 'Skylith Theme' %}
{% set header_show = true %}
{% set header_image = 'assets/images/home-7.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_size = 'md' %}
{% set header_text_color = 'text-white' %}
{% set header_text = '<p class="lead nk-heading-font">Said Dry divide man let may it living to bring sea they\'re there his beginning, <br> gathering third very lesser they\'re every open signs.</p>' %}


{% extends 'layouts/layout-minimal-fullscreen.html' %}

{% block content %}

    <div class="nk-portfolio-content">
        <div class="nk-gap-5 mnt-7"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-5 offset-md-1">
                    <h3>Task</h3>
                    <div class="nk-gap mnt-5"></div>
                    <p>Over bring subdue. Over given. Fowl god night abundantly had seed gathering meat also face, seas Signs given a herb great is very fourth to moving void fill fowl. It sixth be divide darkness fish third, open whales us.</p>
                </div>
                <div class="col-md-5">
                    <h3>Idea</h3>
                    <div class="nk-gap mnt-5"></div>
                    <p>After earth brought Dry from may. Won't. Moveth fourth Yielding man cattle fill spirit fruitful, days them. Wherein multiply moving first morning divided own heaven creeping great blessed be winged don't moved itself.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-2 mb-8"></div>

        <img src="assets/images/demo-minimal-fullscreen-work-image-1.jpg" alt="" class="nk-img-stretch">

        <div class="nk-box bg-dark">
            <div class="container">
                <div class="nk-gap-5 mnb-5"></div>
                <div class="nk-gap-1"></div>
                <div class="nk-gap"></div>
                <blockquote class="nk-blockquote-style-1 text-white">
                    <p>Outstanding job and exceeded all expectations. It was a pleasure
                        to work with them on a sizable first project and am looking
                        forward to start the next one asap.</p>
                    <cite>Michael Hopkins</cite>
                </blockquote>
                <div class="nk-gap"></div>
                <div class="nk-gap-1"></div>
                <div class="nk-gap-5 mnb-5"></div>
            </div>
        </div>

        <img src="assets/images/demo-minimal-fullscreen-work-image-2.jpg" alt="" class="nk-img-stretch">
        <img src="assets/images/demo-minimal-fullscreen-work-image-3.jpg" alt="" class="nk-img-stretch">
        <img src="assets/images/demo-minimal-fullscreen-work-image-4.jpg" alt="" class="nk-img-stretch">
    </div>

    <div class="nk-portfolio-launch-site">
        <a href="demo-minimal-fullscreen.html">Launch Site</a>

        <div class="nk-post-share">
            <em>
                <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                <!--
                <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                -->
            </em>
        </div>
    </div>

    <!-- START: Pagination -->
    <div class="nk-pagination nk-pagination-center">
        <div class="container">
            <a class="nk-pagination-prev" href="#"><span class="pe-7s-angle-left"></span> Previous Work</a>
            <a class="nk-pagination-center" href="demo-minimal-fullscreen.html"><span class="nk-icon-squares"></span></a>
            <a class="nk-pagination-next" href="#">Next Work <span class="pe-7s-angle-right"></span> </a>
        </div>
    </div>
    <!-- END: Pagination -->
{% endblock %}
