{% set page_title = 'Minimal Agency 2 - Services' %}
{% set nav_opaque = false %}
{% set nav_white_text_on_top = true %}
{% set header_title = 'We provide the best services <br> <em class="fw-400">in the industry</em>' %}
{% set header_subtitle = 'New Branding Agency' %}
{% set header_show = true %}
{% set header_image = 'assets/images/header-services.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_size = 'full' %}
{% set header_text_color = 'text-white' %}
{% set header_scroll_down_icon = true %}
{% extends 'layouts/layout-minimal-agency-2.html' %}

{% block content %}

<!-- START: We Are Designers -->
<div class="nk-box bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-image bg-image-parallax">
                    <img src="assets/images/services-1.jpg" alt="" class="jarallax-img">
                </div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
            </div>
            <div class="col-lg-6">
                <div class="nk-gap-4"></div>

                <div class="nk-box-4 mw-620">
                    <h2 class="display-4"><span class="fw-400">We are</span> <em>Designers</em></h2>
                    <div class="nk-gap mnt-5"></div>

                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">01. Web / Interactive</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">02. Graphic</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">03. Motion</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">04. Games</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-gap-4"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: We Are Designers -->

<!-- START: We Are Developers -->
<div class="nk-box bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="bg-image bg-image-parallax">
                    <img src="assets/images/services-2.jpg" alt="" class="jarallax-img">
                </div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
            </div>
            <div class="col-lg-6">
                <div class="nk-gap-4"></div>

                <div class="nk-box-4 mw-620 mlauto">
                    <h2 class="display-4"><span class="fw-400">We are</span> <em>Developers</em></h2>
                    <div class="nk-gap mnt-5"></div>

                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">01. Web / Interactive</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">02. Mobile App</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">03. Software</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">04. Games</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-gap-4"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: We Are Developers -->

<!-- START: We Are Marketers -->
<div class="nk-box bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-image bg-image-parallax">
                    <img src="assets/images/services-3.jpg" alt="" class="jarallax-img">
                </div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
            </div>
            <div class="col-lg-6">
                <div class="nk-gap-4"></div>

                <div class="nk-box-4 mw-620">
                    <h2 class="display-4"><span class="fw-400">We are</span> <em>Marketers</em></h2>
                    <div class="nk-gap mnt-5"></div>

                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">01. Content</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">02. SEO Experts</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">03. Social Media</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-ibox-2">
                                <div class="nk-ibox-title">04. Pay Per Click</div>
                                <div class="nk-ibox-cont">
                                    In dignissim enim ac just vulputate consectetur
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-gap-4"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: We Are Marketers -->

<!-- START: Reviews -->
<div class="nk-box bg-dark-1">
    <div class="bg-image bg-image-parallax">
        <img src="assets/images/bg-pattern.jpg" alt="" class="jarallax-img">
    </div>
    <div class="nk-gap-5 mnt-6"></div>
    <div class="nk-gap-3"></div>
    <div class="container-fluid">
        <!-- START: Carousel -->
        <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-loop="true" data-dots="true" data-arrows="false" data-cell-align="center" data-parallax="false">
            <div class="nk-carousel-inner">
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
                <div><div>
                    <blockquote class="nk-blockquote-style-1 text-white">
                        <p>Outstanding job and exceeded all expectations. It was a pleasure
                            to work with them on a sizable first project and am looking
                            forward to start the next one asap.</p>
                        <cite>Michael Hopkins</cite>
                    </blockquote>
                    <div class="nk-gap-3 mt-10"></div>
                </div></div>
            </div>
        </div>
        <!-- END: Carousel -->
    </div>
    <div class="nk-gap-4 mt-3"></div>
</div>
<!-- END: Reviews -->

<!-- START: Partners -->
<div class="bg-white">
    <div class="container">
        <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="0" data-loop="true" data-dots="false" data-arrows="false" data-cell-align="center" data-parallax="false">
            <div class="nk-carousel-inner">
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-1-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-2-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-3-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-4-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-5-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-6-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-7-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
                <div><div>
                    <div class="nk-box-1">
                        <img src="assets/images/partner-logo-8-dark.png" alt="" class="nk-img-fit">
                    </div>
                </div></div>
            </div>
        </div>
    </div>
</div>
<!-- END: Partners -->

<!-- START: Contact Me -->
<div class="bg-gray-2 text-center">
    <div class="nk-gap-5 mnb-12"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="h1">Let's work together</h2>
                <div class="nk-gap-1 mnt-15"></div>
                <p>Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam aliquet, faucibus, nisi eros vehicula lorem.</p>
                <div class="nk-gap mnt-9"></div>
                <a href="#" class="nk-btn nk-btn-long nk-btn-color-dark-1">Contact Me</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Contact Me -->

{% endblock %}
