{% set page_title = 'Dark Photographer Slider - About' %}
{% extends 'layouts/layout-dark-photographer-slider.html' %}

{% block content %}

    <!-- START: Header Title -->
    <div class="nk-gap-3"></div>
    <h1 class="text-center">We create digital branding <br> <em>experience</em></h1>
    <div class="nk-gap-4"></div>
    <!-- END: Header Title -->

    <img src="assets/images/header-about-us.jpg" alt="" class="nk-img-stretch">

    <!-- START: Who We Are -->
    <div class="bg-dark-05">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <div class="text-gray">Who we are</div>
                </div>
                <div class="col-lg-7">
                    <h2 class="h4 lh-35">We are a new Branding Agency. Over 20 years of combined <span class="text-main">experience</span>, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                    </h2>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Who We Are -->

    <!-- START: In Short -->
    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="text-gray">In Short</div>
            </div>
            <div class="col-lg-7">
                <h2 class="h4">Our History</h2>
                <p>An award-winning design and development team that is proud of our work and love the web. We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>

                <div class="nk-gap"></div>
                <h2 class="h4">Our Mission</h2>
                <p>Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it. Clever use of technology and lean processes enable us to work faster and smarter.</p>

                <div class="nk-gap"></div>
                <h2 class="h4">Our Principles</h2>
                <p>As an independent insurance agency, we can always give our clients options. We are not tied to any one carrier or company, we do not serve the interests of any corporate entity.</p>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: In Short -->

{% endblock %}
