{% set header_title = 'Dark Modern Portfolio' %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_transparent_always = true %}
{% set nav_in_container = false %}
{% set footer = false %}
{% extends 'layouts/layout-dark-modern-portfolio.html' %}

{% block content %}

    <div class="nk-gap-6"></div>

    <!-- START: Carousel -->
    <div class="nk-carousel-2 nk-carousel-x05 nk-carousel-all-visible nk-carousel-dots-3 nk-carousel-arrows-2 nk-carousel-arrows-bottom-center" data-autoplay="18000" data-loop="false" data-dots="true" data-arrows="true" data-cell-align="center" data-parallax="false">
        <div class="nk-carousel-inner">
            <div>
                <div>
                    <div class="nk-carousel-absolute-item nk-carousel-active-show d-none d-sm-block">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="display-3">Minimal Identity Mockup</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nk-carousel-absolute-item"></a>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="assets/images/demo-dark-modern-portfolio-1.jpg" alt="" class="nk-img-stretch op-4">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="nk-carousel-absolute-item nk-carousel-active-show d-none d-sm-block">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="display-3">Creative Business Card</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nk-carousel-absolute-item"></a>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="assets/images/demo-dark-modern-portfolio-2.jpg" alt="" class="nk-img-stretch op-4">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="nk-carousel-absolute-item nk-carousel-active-show d-none d-sm-block">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="display-3">Minimal Fashion Mobile App</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nk-carousel-absolute-item"></a>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="assets/images/demo-dark-modern-portfolio-3.jpg" alt="" class="nk-img-stretch op-4">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="nk-carousel-absolute-item nk-carousel-active-show d-none d-sm-block">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="display-3">Anne Mitchel Branding</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nk-carousel-absolute-item"></a>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="assets/images/demo-dark-modern-portfolio-4.jpg" alt="" class="nk-img-stretch op-4">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="nk-carousel-absolute-item nk-carousel-active-show d-none d-sm-block">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="display-3">Paper Tube Mockup</h3>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="nk-carousel-absolute-item"></a>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="assets/images/demo-dark-modern-portfolio-5.jpg" alt="" class="nk-img-stretch op-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Carousel -->

    <div class="nk-gap-6"></div>

{% endblock %}
