{% set header_title = 'Dark Modern Portfolio - Work 1' %}
{% extends 'layouts/layout-dark-modern-portfolio.html' %}

{% block content %}

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-14"></div>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <h1 class="nk-portfolio-title display-4">Promotional Video for Sport Brand</h1>
            </div>
        </div>
        <div class="row vertical-gap">
            <div class="col-lg-7 offset-lg-1">
                <div class="nk-portfolio-info">
                    <div class="nk-portfolio-text">
                        <p>Promoters have used newspapers, special events, endorsements, Promotions can be held in physical environments at special events such as concerts, festivals, trade shows, and in the field, such as in grocery or department stores. Interactions in the field allow immediate purchases.</p>
                        <p>The purchase of a product can be incentive with discounts, free items, or a contest. This method is used to increase the sales of a given product. Interactions between the brand and the customer are performed by a brand ambassador.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="nk-portfolio-details">
                    <tr>
                        <td><strong>Client:</strong></td>
                        <td>Anna Doe</td>
                    </tr>
                    <tr>
                        <td><strong>Link:</strong></td>
                        <td><a href="#">google.com</a></td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>06.20.2017</td>
                    </tr>
                    <tr>
                        <td><strong>Share:</strong></td>
                        <td class="nk-post-share">
                            <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                            <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                            <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                            <!--
                            <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                            <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                            <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                            -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="nk-gap-4 mt-14"></div>

    </div>
</div>

<div class="container">
    <div class="nk-plain-video" data-video="https://vimeo.com/90621027" data-video-thumb="assets/images/portfolio-4-video-thumb.jpg"></div>
</div>

<div class="nk-gap-5"></div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center bg-dark-05 text-white">
    <div class="container">
        <a class="nk-pagination-prev" href="#"><span class="pe-7s-angle-left"></span> Previous Work</a>
        <a class="nk-pagination-center" href="#"><span class="nk-icon-squares"></span></a>
        <a class="nk-pagination-next" href="#">Next Work <span class="pe-7s-angle-right"></span> </a>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
