{% set page_title = 'Dark Portfolio - About' %}
{% extends 'layouts/layout-dark-portfolio.html' %}

{% block content %}

    <div class="container">
        <div class="nk-gap-4"></div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>We have over 20 years of <em class="text-main">combined experience</em>, and know a thing or two about designing <em>websites and mobile apps</em>.</h1>
            </div>
        </div>
        <div class="nk-gap-5"></div>

        <img src="assets/images/demo-minimal-fullscreen-about.jpg" alt="" class="nk-img-stretch">

        <div class="nk-gap-5"></div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>We are an <span class="text-main">independent</span> <br> brand & marketing agency.</h1>
                <div class="nk-gap-2"></div>

                <div class="row">
                    <div class="col-md-6">
                        <p>We are a new Branding Agency. Over 10 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter. We proud of our work and love the web.</p>
                    </div>
                    <div class="col-md-6">
                        <p>We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it. Clever use of technology and lean processes.</p>
                    </div>
                </div>

                <!-- START: Partners -->
                <div class="nk-gap-1"></div>
                <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="0" data-loop="true" data-dots="false" data-arrows="false" data-cell-align="center" data-parallax="false">
                    <div class="nk-carousel-inner">
                        <div>
                            <img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-2-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-3-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-4-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-5-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-6-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-7-light.png" alt="" class="nk-img-fit">
                        </div>
                        <div>
                            <img src="assets/images/partner-logo-8-light.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div class="nk-gap-3"></div>
                <!-- END: Partners -->
            </div>
        </div>
    </div>

    <div class="bg-dark-05">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="nk-gap-5"></div>
                    <h2 class="h1 fw-500 text-white">Want to work with us?</h2>
                    <div class="nk-gap-1"></div>
                    <a href="demo-dark-portfolio-contact.html" class="nk-btn nk-btn-long nk-btn-outline nk-btn-color-white nk-btn-hover-color-main">Hire Us</a>
                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
