{% set page_title = 'Creative Agency - Work 2' %}
{% extends 'layouts/layout-creative-agency.html' %}

{% block content %}

<div class="nk-portfolio-single-header">
    <div>
        <div class="container">
            <div class="row vertical-gap d-md-flex">
                <div class="col-md-6">
                    <h1 class="nk-portfolio-title display-4">Minimal Mobile App</h1>
                    <div class="lead fw-400">
                        Nullam lobortis neque turpis, <strong><em>nec tempus</em></strong> sem pharetra at. Donec et lobortis quam, <strong><em>in ullamcorper velit</em></strong>.
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/portfolio-3-single.jpg" alt="" class="nk-img-stretch">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-14"></div>
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-portfolio-info">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <div class="nk-portfolio-text">
                                <p>Nullam lobortis neque turpis, nec tempus sem tra at. Donec et lobortis quam, in ullamcorper. Aliquam maximus ullamcorper ligula, at placerat hendrerit sed. Sed metus urna, bibendum id feugiat pharetra ipsum. Aliquam vehicula neque. amet dolor malesuada pretium.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-portfolio-text">
                                <p>Nullam lobortis neque turpis, nec tempus sem tra at. Donec et lobortis quam, in ullamcorper. Aliquam maximus ullamcorper ligula, at placerat hendrerit sed. Sed metus urna, bibendum id feugiat pharetra ipsum. Aliquam vehicula neque. amet dolor malesuada pretium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="nk-portfolio-details">
                    <tr>
                        <td><strong>Client:</strong></td>
                        <td>Anna Doe</td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>06.20.2017</td>
                    </tr>
                    <tr>
                        <td><strong>Share:</strong></td>
                        <td class="nk-post-share">
                            <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                            <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                            <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                            <!--
                            <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                            <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                            <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                            -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="nk-gap-4 mt-14"></div>

    </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <div class="container">
        <a class="nk-pagination-prev" href="demo-creative-agency-work-single-1.html"><span class="pe-7s-angle-left"></span> Previous Work</a>
        <a class="nk-pagination-center" href="demo-creative-agency-portfolio.html"><span class="nk-icon-squares"></span></a>
        <a class="nk-pagination-next" href="demo-creative-agency-work-single-3.html">Next Work <span class="pe-7s-angle-right"></span> </a>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
