{% set page_title = 'Minimal Split - Work 2' %}
{% set footer = false %}
{% extends 'layouts/layout-minimal-split.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="nk-portfolio-single nk-portfolio-single-half">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <div class="nk-sidebar-sticky" data-offset-top="0">
                        <div class="nk-portfolio-info">
                            <h1 class="nk-portfolio-title display-4">Belong Magazine</h1>
                            <div class="nk-portfolio-text">
                                <p>Process of visual communication and problem-solving through the use of typography, photography and illustration. The field is considered a subset of visual communication and communication design. Graphic designers create and combine symbols, images and text to form visual representations of ideas and messages.</p>
                            </div>

                            <table class="nk-portfolio-details">
                                <tr>
                                    <td><strong>Client:</strong></td>
                                    <td>Anna Doe</td>
                                </tr>
                                <tr>
                                    <td><strong>Date:</strong></td>
                                    <td>06.20.2017</td>
                                </tr>
                                <tr>
                                    <td><strong>Share:</strong></td>
                                    <td class="nk-post-share">
                                        <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                                        <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                                        <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                                        <!--
                                        <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                                        <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                                        <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                                        -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <!-- START: Carousel -->
                    <div class="nk-carousel-2 nk-carousel-no-margin nk-carousel-all-visible nk-carousel-arrows-bottom-center" data-autoplay="18000" data-loop="true" data-dots="false" data-arrows="true" data-cell-align="center" data-parallax="true">
                        <div class="nk-carousel-inner">
                            <div>
                                <div class="bg-image">
                                    <img class="nk-carousel-parallax-img" src="assets/images/demo-minimal-split-single-2.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <div class="bg-image">
                                    <img class="nk-carousel-parallax-img" src="assets/images/demo-minimal-split-single-2-2.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <div class="bg-image">
                                    <img class="nk-carousel-parallax-img" src="assets/images/demo-minimal-split-single-2-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Carousel -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
