{% set page_title = 'Creative Text' %}
{% extends 'layouts/layout-creative-text.html' %}

{% block content %}

    <!-- START: Hello -->
    <div class="container">
        <div class="nk-gap-1"></div>

        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-extra-big nk-image-text" style="background-image: url('assets/images/demo-creative-text.gif');">
                    Hello!
                </h1>
                <p class="lead text-black">We are a new Branding Agency. Over 10 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                </p>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Hello -->


    <!-- START: Portfolio -->
    <div class="nk-portfolio-list nk-isotope nk-isotope-wide">
        <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="demo-creative-text-work-single.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-1.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">New Magazine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Photography">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="demo-creative-text-work-single.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-2.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Apple Watch</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Print">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="demo-creative-text-work-single.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-3.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Creative Mobile App</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Web Design">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="demo-creative-text-work-single.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('assets/images/portfolio-single-style-2-4.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Social Website</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Portfolio -->

    <!-- START: Let's Work Together -->
    <div class="nk-box bg-white text-center">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Let`s work together</h2>
                    <div class="nk-gap-1 mnt-20"></div>
                    <p>Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                    <div class="nk-gap mnt-9"></div>
                    <a href="#" class="nk-btn nk-btn-outline nk-btn-color-gray nk-btn-hover-color-dark-1 text-dark">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Let's Work Together -->

{% endblock %}
