{% set post = posts[0] %}
{% set header_title = 'Creative Freelancer Portfolio - Blog Single' %}
{% extends 'layouts/layout-creative-freelancer-portfolio.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="nk-gap-5"></div>

                <!-- START: Post -->
                <div class="nk-blog-post nk-blog-post-single nk-blog-post-single-style-2">
                    <img class="nk-post-img" src="assets/images/post-1-s3-mid.jpg" alt="">
                    
                    <h1 class="h2">{{ post.title }}</h1>

                    <div class="nk-post-meta">
                        <div class="nk-post-date">{{ post.date }}</div>
                        <div class="nk-post-category">{{ post.cat | safe}}</div>
                        <div class="nk-post-comments-count">2 Comments</div>
                    </div>

                    <!-- START: Post Text -->
                    <div class="nk-post-text">
                        {% include "shared/blog-content.html" %}
                    </div>
                    <!-- END: Post Text -->

                    <!-- START: Post Share -->
                    <div class="nk-post-share-2">
                        <a href="#" title="Share page on Facebook" data-share="facebook"><span class="fa fa-facebook-official"></span> Facebook</a>
                        <a href="#" title="Share page on Google+" data-share="google-plus"><span class="fa fa-google"></span> Google+</a>
                        <a href="#" title="Share page on Twitter" data-share="twitter"><span class="fa fa-twitter"></span> Twitter</a>
                        <a href="#" title="Share page on Pinterest" data-share="pinterest"><span class="fa fa-pinterest"></span> Pinterest</a>
                        <!--
                        <a href="#" title="Share page on LinkedIn" data-share="linkedin"><span class="fa fa-linkedin"></span> LinkedIn</a>
                        <a href="#" title="Share page on Vkontakte" data-share="vk"><span class="fa fa-vk"></span> Vkontakte</a>
                        -->
                    </div>
                    <!-- END: Post Share -->
                </div>
                <!-- END: Post -->

                <div class="nk-gap-3"></div>

                {% include "shared/blog-comments-2.html" %}
                {% include "shared/blog-comments-2-reply.html" %}

                <div class="nk-gap-5"></div>
            </div>
            <div class="col-lg-4">
                <!--
                    START: Sidebar

                    Additional Classes:
                        .nk-sidebar-sticky

                    Additional Attributes:
                        data-offset-top - add top offset to sticky sidebar
                -->
                <aside class="nk-sidebar nk-sidebar-sticky" data-offset-top="0">

                    <div class="nk-gap-5"></div>
                    {% include "shared/blog-sidebar-s3.html" %}
                    <div class="nk-gap-5"></div>

                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>

    <!-- START: Pagination -->
    <div class="nk-pagination nk-pagination-center">
        <div class="container">
            <a class="nk-pagination-prev" href="#"><span class="pe-7s-angle-left"></span> Previous Post</a>
            <a class="nk-pagination-center" href="#"><span class="nk-icon-squares"></span></a>
            <a class="nk-pagination-next" href="#">Next Post <span class="pe-7s-angle-right"></span> </a>
        </div>
    </div>
    <!-- END: Pagination -->

{% endblock %}
