{% set page_title = 'Creative Agency' %}
{% set header_show = false %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% extends 'layouts/layout-creative-agency.html' %}

{% block content %}

    <!-- START: Slider -->
    <div class="nk-slider bg-dark" data-show-nav="false" data-show-bullets="true" data-show-arrows="false" data-autoplay="10000" data-content-centering="center" data-height="670">
        <div class="nk-slider-item">
            <img src="assets/images/demo-creative-agency-header-1.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="text-center">
                    <div class="nk-gap-3"></div>
                    <h2 class="nk-subtitle text-white">New Branding Agency</h2>
                    <h2 class="text-white display-3">We create digital branding <br> <em>experience</em></h2>
                    <div class="nk-gap"></div>
                    <a href="demo-creative-agency-portfolio.html" class="nk-btn nk-btn-color-main">Let's Talk</a>
                </div>
            </div>
        </div>
        <div class="nk-slider-item">
            <img src="assets/images/demo-creative-agency-header-2.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="text-center">
                    <div class="nk-gap-3"></div>
                    <h2 class="nk-subtitle text-white">New Branding Agency</h2>
                    <h2 class="text-white display-3">We create digital branding <br> <em>experience</em></h2>
                    <div class="nk-gap"></div>
                    <a href="demo-creative-agency-portfolio.html" class="nk-btn nk-btn-color-main">Let's Talk</a>
                </div>
            </div>
        </div>
        <div class="nk-slider-item">
            <img src="assets/images/demo-creative-agency-header-3.jpg" alt="" class="nk-slider-image">
            <div class="nk-slider-content">
                <div class="text-center">
                    <div class="nk-gap-3"></div>
                    <h2 class="nk-subtitle text-white">New Branding Agency</h2>
                    <h2 class="text-white display-3">We create digital branding <br> <em>experience</em></h2>
                    <div class="nk-gap"></div>
                    <a href="demo-creative-agency-portfolio.html" class="nk-btn nk-btn-color-main">Let's Talk</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Slider -->

    <!-- START: We provide -->
    <div class="container">
        <div class="nk-gap-5"></div>

        <h2 class="text-center">We provide the best services <br> in the industry</h2>
        <div class="nk-gap-3"></div>

        <div class="nk-tabs">
            <ul class="nav nav-tabs nav-tabs-styled text-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-web-design" role="tab" data-toggle="tab">Web Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-web-development" role="tab" data-toggle="tab">Web Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-app-mobile" role="tab" data-toggle="tab">App / Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-branding" role="tab" data-toggle="tab">Branding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-product-strategy" role="tab" data-toggle="tab">Product Strategy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-marketing" role="tab" data-toggle="tab">Marketing</a>
                </li>
            </ul>

            <div class="tab-content">

                <!-- START: Tab Description -->
                <div role="tabpanel" class="tab-pane fade show active" id="tab-web-design">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-diamond fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web, graphic design, interface design, authoring, including standardised code.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Description -->

                <!-- START: Tab Web Development -->
                <div role="tabpanel" class="tab-pane fade" id="tab-web-development">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-arc fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Web Development -->

                <!-- START: Tab App Mobile -->
                <div role="tabpanel" class="tab-pane fade" id="tab-app-mobile">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-phone fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Mobile development is a term used to denote the act or process by which application software is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab App Mobile -->

                <!-- START: Tab Branding -->
                <div role="tabpanel" class="tab-pane fade" id="tab-branding">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-star fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Branding is a set of marketing and communication methods that help to distinguish a company from competitors and create a lasting impression in the minds of customers.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Branding -->

                <!-- START: Tab Product Strategy -->
                <div role="tabpanel" class="tab-pane fade" id="tab-product-strategy">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-edit fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Product strategy is defined as the road map of a product. This road map outlines the end-to-end vision of the product, particulars on achieving the product strategy and the big picture context in terms of what the product will become.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Product Strategy -->

                <!-- START: Tab Marketing -->
                <div role="tabpanel" class="tab-pane fade" id="tab-marketing">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="nk-gap mt-7"></div>
                            <div class="pe-7s-graph3 fs-70 text-black"></div>
                            <div class="nk-gap-1"></div>

                            <p>Marketing is the study and management of exchange relationships. The American Marketing Association has defined marketing as "the activity, set of institutions, and processes for creating, communicating, delivering, and exchanging offerings.</p>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Marketing -->
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- END: We provide -->

    <!-- START: Our latest works -->
    <div class="bg-dark">
        <div class="nk-gap-4"></div>

        <h2 class="text-center text-white">Our latest works</h2>
        <div class="nk-gap-3"></div>

        <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">
            {% set items = [
                {
                    thumb: 'assets/images/demo-creative-agency-work-1.jpg',
                    title: 'Various Illustrations',
                    color: '#69b88b',
                    url: 'demo-creative-agency-work-single-1.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-2.jpg',
                    title: 'Creative Shapes',
                    color: '#962444',
                    url: 'demo-creative-agency-work-single-2.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-3.jpg',
                    title: 'Raympnd Coller',
                    color: '#fa7f21',
                    url: 'demo-creative-agency-work-single-3.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-4.jpg',
                    title: 'Allen Carter',
                    color: '#2a54e0',
                    url: 'demo-creative-agency-work-single-1.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-5.jpg',
                    title: 'Album Cover',
                    color: '#251a5d',
                    url: 'demo-creative-agency-work-single-2.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-6.jpg',
                    title: 'Creative Portrait',
                    color: '#e47d87',
                    url: 'demo-creative-agency-work-single-3.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-7.jpg',
                    title: 'In the Night',
                    color: '#882fa8',
                    url: 'demo-creative-agency-work-single-1.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-8.jpg',
                    title: 'Paper Mockup',
                    color: '#cc325e',
                    url: 'demo-creative-agency-work-single-2.html'
                }, {
                    thumb: 'assets/images/demo-creative-agency-work-9.jpg',
                    title: 'Shapes Illustration',
                    color: '#291eff',
                    url: 'demo-creative-agency-work-single-3.html'
                }
            ] %}
            {% for item in items %}
                <div class="nk-isotope-item">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <a href="{{ item.url }}" class="nk-portfolio-item-link"></a>
                        <div class="nk-portfolio-item-image"><div style="background-image: url('{{ item.thumb }}');"></div></div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center" style="background-color: {{ item.color }}">
                            <div>
                                <h2 class="nk-portfolio-item-title h3">{{ item.title }}</h2>
                                <div class="nk-portfolio-item-letter display-extra-big">{{ item.title[0] }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- START: Pagination -->
        <div class="nk-pagination nk-pagination-center bg-gray-6">
            <a href="demo-creative-agency-portfolio.html">View More Works</a>
        </div>
        <!-- END: Pagination -->
    </div>
    <!-- END: Our latest works -->

    <!-- START: Partners -->
    <div class="bg-white">
        <div class="container">
            <div class="nk-gap-5"></div>

            <h2 class="text-center">These companies trust us</h2>
            <div class="nk-gap"></div>
            <p class="text-center mnb-10">Every day, for 10 years, we're trusted by large companies and brands to design <br> and develop their digital products.</p>

            <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="0" data-loop="true" data-dots="false" data-arrows="false" data-cell-align="left" data-parallax="false">
                <div class="nk-carousel-inner mnl-15 mnr-15">
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-1-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-2-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-3-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-4-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-5-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-6-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-7-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                    <div><div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-8-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div></div>
                </div>
            </div>

            <div class="nk-gap-1"></div>
        </div>
    </div>
    <!-- END: Partners -->

    <!-- START: Let's Work Together -->
    <div class="nk-box bg-dark-1 text-center">
        <div class="nk-gap-5"></div>
        <div class="bg-image bg-image-parallax">
            <img src="assets/images/demo-creative-agency-contact-bg.jpg" alt="" class="jarallax-img">
            <div class="bg-image-overlay" style="background-color: rgba(204, 17, 57, 0.9);"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 class="text-white">Let`s work together</h2>
                    <div class="nk-gap-1 mnt-20"></div>
                    <p class="text-white">Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                    <div class="nk-gap mnt-9"></div>
                    <a href="#" class="nk-btn nk-btn-outline nk-btn-color-white">Contact Me</a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Let's Work Together -->

{% endblock %}
