{% set page_title = 'Minimal Architecture & Interior - Portfolio Single' %}
{% set header_show = true %}
{% set header_text = '
<div class="nk-subtitle-2 mb-5">Architecture</div>
<h1 class="nk-title text-uppercase text-white">Steadfastness</h1>' %}
{% set header_image = 'assets/images/demo-minimal-split-single-4.jpg' %}
{% set header_image_overlay = 'rgba(0, 0, 0, 0.6)' %}
{% set header_size = '' %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}

{% extends 'layouts/layout-minimal-architecture.html' %}

{% block content %}

    <div class="bg-white">
        <div class="container">

            <div class="nk-gap"></div>
            <div class="nk-justified-gallery nk-portfolio-list nk-popup-gallery">
                {% set items = [
                {
                    img: 'assets/images/demo-minimal-split-single-4-2.jpg',
                    img_sm: 'assets/images/demo-minimal-split-single-4-2-sm.jpg',
                    img_size: '1523x1102'
                },
                {
                    img: 'assets/images/demo-minimal-split-single-4-3.jpg',
                    img_sm: 'assets/images/demo-minimal-split-single-4-3-sm.jpg',
                    img_size: '1280x1610'
                },
                {
                    img: 'assets/images/demo-minimal-split-single-4-4.jpg',
                    img_sm: 'assets/images/demo-minimal-split-single-4-4-sm.jpg',
                    img_size: '1282x1178'
                },
                {
                    img: 'assets/images/demo-minimal-split-single-4-5.jpg',
                    img_sm: 'assets/images/demo-minimal-split-single-4-5-sm.jpg',
                    img_size: '1280x650'
                },
                {
                    img: 'assets/images/demo-minimal-split-single-4-6.jpg',
                    img_sm: 'assets/images/demo-minimal-split-single-4-6-sm.jpg',
                    img_size: '1200x868'
                }
                ] %}
                {% for item in items %}
                    <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
                        <a href="{{ item.img }}" class="nk-portfolio-item-link nk-gallery-item" data-size="{{ item.img_size }}"></a>
                        <img class="nk-portfolio-item-image" src="{{ item.img_sm }}" alt="">
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                            <div>
                                <div class="nk-portfolio-item-icon"><span class="pe-7s-expand1"></span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="nk-portfolio-single">

                <div class="nk-gap-3"></div>
                <div class="row vertical-gap">
                    <div class="col-lg-5 offset-lg-1">
                        <div class="nk-portfolio-info">
                            <div class="nk-portfolio-text">
                                An award-winning design and development team that is proud of our work.We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <table class="nk-portfolio-details">
                            <tr>
                                <td><strong>Client:</strong></td>
                                <td>Anna Doe</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>06.20.2017</td>
                            </tr>
                            <tr>
                                <td><strong>Share:</strong></td>
                                <td class="nk-post-share">
                                    <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                                    <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                                    <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                                    <!--
                                    <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                                    <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                                    <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                                    -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="nk-gap-5"></div>

            </div>
        </div>
    </div>

    <!-- START: Pagination -->
    <div class="nk-pagination nk-pagination-center bg-gray-3">
        <div class="container">
            <a class="nk-pagination-prev" href="#"><span class="pe-7s-angle-left"></span> Previous Work</a>
            <a class="nk-pagination-center" href="demo-minimal-architecture-portfolio.html"><span class="nk-icon-squares"></span></a>
            <a class="nk-pagination-next" href="#">Next Work <span class="pe-7s-angle-right"></span></a>
        </div>
    </div>
    <!-- END: Pagination -->

{% endblock %}
