{% set page_title = '404' %}
{% set nav = false %}
{% set nav_transparent = true %}
{% set nav_opaque = false %}
{% set nav_full = true %}
{% set header_show = true %}
{% set header_image = 'assets/images/page-404.jpg' %}
{% set header_size = 'full' %}
{% set header_text = '
    <div class="row vertical-gap">
        <div class="col-lg-7 text-center">
            <h1 class="display-extra-big">404</h1>
            <div class="nk-gap mnt-3"></div>

            <p class="nk-heading-font text-black lead">We are sorry. But the page you are looking <br> for cannot be found.</p>

            <div class="nk-gap mnt-10"></div>

            <a href="index.html" class="nk-btn nk-btn-color-dark-1">Back to Home</a>

            <div class="nk-gap-5"></div>
        </div>
    </div>
' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

{% endblock %}
