{% set page_title = 'Coming Soon' %}
{% set custom_css = 'assets/css/custom-coming-soon.css' %}
{% set nav = false %}
{% set nav_transparent = true %}
{% set nav_dark = true %}
{% set nav_opaque = false %}
{% set nav_logo_size = 90 %}
{% set header_show = true %}
{% set header_image = 'assets/images/page-coming-soon.jpg' %}
{% set header_image_overlay = 'rgba(0, 0, 0, 0.6)' %}
{% set header_size = 'full' %}
{% set header_social_icons = true %}
{% set header_text_color = 'text-white' %}
{% set header_text = '
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center text-white">
            <h1 class="text-white">We are Coming Soon</h1>
            <div class="nk-gap mnt-3"></div>

            <p>Our website is under construction. We`ll be here soon with our new web site, subscribe to be notified.</p>

            <div class="nk-gap-1"></div>

            <form action="#" class="nk-form-style-3">
                <div class="input-group">
                    <input class="form-control" type="email" placeholder="Enter your email">
                    <button class="nk-btn nk-btn-outline nk-btn-color-white nk-btn-lg ml-15">Notify Me</button>
                </div>
            </form>

            <div class="nk-gap-3"></div>
        </div>
    </div>
' %}
{% set footer = false %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

{% endblock %}
