{% set header_title = 'Portfolio 1 Column Style 2' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-portfolio-list nk-isotope nk-isotope-wide">
        <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="#" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image h-250 pb-0"><div style="background-image: url('assets/images/portfolio-single-style-2-1.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">New Magazine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Photography">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="#" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image h-250 pb-0"><div style="background-image: url('assets/images/portfolio-single-style-2-2.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Apple Watch</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Print">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="#" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image h-250 pb-0"><div style="background-image: url('assets/images/portfolio-single-style-2-3.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Creative Mobile App</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-isotope-item" data-filter="Web Design">
            <div class="nk-portfolio-item nk-portfolio-item-xxs nk-portfolio-item-info-style-1 hover">
                <a href="#" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image h-250 pb-0"><div style="background-image: url('assets/images/portfolio-single-style-2-4.jpg');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center">
                    <div>
                        <h2 class="nk-portfolio-item-title h1">Social Website</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
